.content-slideup {
  animation: slideUpside 2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;

}

@keyframes slideUpside {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  80% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}